/*
 * We need to also define '-enter' styles otherwise <ReactCSSTransitionGroup>
 * does not work
 */
.todo-list-enter {
  opacity: 0.01;
}

.todo-list-enter.todo-list-enter-active {
  opacity: 1;
  transition: opacity 400ms ease-in;
}

.todo-list-leave {
  opacity: 1;
}
.todo-list-leave.todo-list-leave-active {
  opacity: 0.01;
  transition: opacity 400ms ease-in;
}
